# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Module stuff
*.symvers
*.mod.c
*.order
*.ko
*.ko.cmd
*.mod.o.cmd
*.o.cmd
.tmp_versions/

#Editor stuff
*~


#Kdevelop file
.kdev*
*.kdev4

#eseguibili vari
simulatore/simulatore
simulatore/vmlinux
simulatore/prova
app_prova/app_prova1
